/* TO-DO */

body {
    margin: 0px;
    position: relative;
}

html body {
    height: 100%
}
#topSection {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    /* background-color: rgba(6, 47, 64, 0.792);  */
    background: rgb(39, 54, 66);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;

}

#searchSection {
    text-align: center;
    background-color:rgba(37, 52, 72, 0.986);
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex; 
    padding-left: 530px;
    gap: 10px;

}

#mySearchInput {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.322);
    background-color: white;
}

.dropDown {

    position: relative; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.322);
    width: 175px; 
    height: 30px;
    padding: 0.5rem 1rem; 
    cursor: pointer;
    border-radius: 5px;
}

.arrow {
    font-size: 30px;
}

.wrapper {
    display: flex; 
    gap: 0.5 rem; 
    align-items: center;
}

.selected {
    color: rgb(101, 101, 101);
}

.filterList {
    background-color: grey;
    position: absolute;
    top: 45px; 
    left: 0; 
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.322);
    cursor: pointer; 
    max-height: 250px;
    overflow-y: scroll;
    width: 100%; 
    display: none; 
}

.filterList.show {
    display: block;
    z-index: 2;
}

.hide {
    display: none; 
}

.items {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem; 
    gap: 0.5rem; 
    color: white;
    background-color: rgb(77, 75, 75);
}

.items:hover {
    background-color: rgb(6, 133, 206);
    border-radius: 5px;
}


.movieContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(4, 300px);   
    align-content: center;
    align-items: center;
    grid-gap: 20px;
    row-gap: 250px;
    margin:auto;
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;
}

.movieItems {
    text-align: center;
    border: solid; 
    border-color: lightgray;
    font-weight: bold;
    padding: 25px;
    height: 200px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 80px;
    margin-top: 275px;
    height: 425px;
    width: 170px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    width: 80%;
}

.movieItems img {
    object-fit: cover;
    border-radius: 10px;
    height: 325px;

}

.bottomSection {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 615px;
    position: relative;
    z-index: 3;
    gap: 10px;
    padding-bottom: 20px;
}

.button {
    background-color: rgb(19, 153, 236);
    color: white;
    border-radius: 8px;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    border: none;
    height: 40px;
    width: 75px;

}

.button:hover {
    background-color: rgb(2, 133, 215);
}


